html{
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

*, *:after, *:before{
  box-sizing: inherit;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

h2, h4, p{
  margin: 0;
}

body{
  padding: 25px;
}

.main_container {
  width: 600px;
  height: 450px;
  box-shadow: 1px 2px 17px -1px rgba(0,0,0,0.57);
  border-radius: 10px;
  overflow: hidden;
}

.info_section{
  width: 100%;
  height: 45%; 
  padding: 35px;
}

.price_section{
  width: 50%;
  height: 55%;
  display: inline-block;
  vertical-align: top;
  background-color:#2ab2af;
  padding: 35px;
  color: #e5eff5;
}

.why_section{
  width: 50%;
  height: 55%;
  display: inline-block;
  vertical-align: top;;
  background-color: #30d1ce;
  padding: 35px;
  color: #e5eff5;
}

.info_section h2{
  margin-bottom: 20px;
  color: #2ab2af;
}

.info_section h4{
  margin-bottom: 15px;
  color:#c0df34;
}

.info_section p{
  color: #98a6bd;
  line-height: 1.5;
}

.price_section h4{
  margin-bottom: 25px;
}

.amount {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 900;
}

.freq{
  display: inline-block;
  font-size: 0.8rem;
  opacity: 0.6;
  position: relative;
  top: -5px;
  margin-left: 5px;
}

.price_container{
  margin-bottom: 20px;
}

.price_section p {
  margin-top: 10px;
  margin-bottom: 35px;
  font-size: 0.9rem;
}

button {
  width: 100%;
  background-color: #c0df34;
  color: #e5eff5;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

button:hover{
  background-color: #a9c42f;
  cursor: pointer;
  transform: scale(1.03);
}

ul {
  font-size: 0.9rem;
  opacity: 0.8;
  list-style: none;
  padding-left: 0;
  line-height: 1.4;
}

@media (max-width: 650px){
  .main_container{
    width: auto;
    height: auto;
    overflow: visible;
  }
  
  .price_section{
    width: 100%;
  }
  
  .why_section{
    width: 100%;
  }
}
